@import '../../../assets/scss/main.scss';

aside.menu-area {
  background-color: $dark-blue;
  box-shadow: $shadow-menu;

  .menu {
    a {
      display: block;
      text-decoration: none;
      color: $white;
      font-weight: 300;
      padding: 15px;
    }
    a:hover {
      background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
    }

  }

}